/** Variables for Theme **/

/* Colors */
$sushi : #95BF3B; // Pods Green
$fern-frond : #5A7324; // Pods Dark Green
$coral-reef : #BFBF9B; // Pods Light grey
$kokoda : #73725D; // Pods Dark Grey
$rangitoto : #26261B; // Pods Black
$ecru-white : #F2F2DC; // Pods White
$pear : #B7E022; // Pods Highlight
$configer : #B4D93E; // Alt Pods Highlight
$limeade : #5E8A00; // Alt Anchor Color
$verdun_green: #426100; // Alt Breadcrumb

// Color Usage

$color-primary : $sushi;
$color-accent : $pear;
$color-shadow : $coral-reef;


$white : $ecru-white;
$grey : $kokoda;
$black : $rangitoto;
/*
$brand : $sushi;
$brand-dark : $fern-frond;
$shadow : $coral-reef;
$brand-light : $pear;
*/

$pri-color: $sushi;
$sec-color: $coral-reef;
$sec-shadow: $kokoda;
$sec-highlight: mix($white, $sec-color, 60%);
$highlight: mix($white, $pri-color, 20%);
$shadow: 	mix($black, $pri-color, 40%);
$anchor: $limeade;
$breadcrumb: $verdun_green;
$dark-grey: mix($black, $grey, 20%);
