/** Variables for Theme **/

/* Colors */
$sushi      : #95BF3B; // Pods Green
$fern-frond : #5A7324; // Pods Dark Green
$coral-reef : #BFBE9B; // Pods Light grey
$kokoda     : #73735D; // Pods Dark Grey
$rangitoto  : #26261F; // Pods Black
$ecru-white : #F2F2DC; // Pods White

$pear       : #B7E022; // Pods Highlight
$conifer    : #B4D93E; // Alt Pods Highlight
$limeade    : #608C00; // Alt Anchor Color

$pri-color: $sushi;
$sec-color: $coral-reef;
$grey : $kokoda;
$white : $ecru-white;
$black : $rangitoto;

$sec-highlight: mix($white, $sec-color, 60%);
$highlight: mix($white, $pri-color, 20%);
$shadow: 	mix($black, $pri-color, 20%);
$dark-shadow: mix($black, $pri-color, 60%);
$dark-grey: mix($black, $grey, 60%);
$breadcrumb: $dark-shadow;
$anchor: $limeade;
